body {
  background-color: #282c34;
}

.App {
  font-size: 1rem;
  color: white;
  text-align: center;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2% 40%;
  
}

.links {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  border-bottom: white 2px solid;
}